h1{
    /*background-image:url("image1.jpg");*/
    background:linear-gradient(red,blue,green);
}
/*body{
    background-image:url("java1.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:800px;
    width:800px;
    background-attachment: fixed;
}*/
.para{
    color:darkmagenta;
    background-color:grey;
    text-align:justify;
    margin:30px;
    border-style:dashed;
    border-radius:20px;
    padding:30px;
    text-indent:30px;
}
div{
    background:linear-gradient(yellow,red);
}